@import "//fonts.googleapis.com/css?family=Montserrat";
@import "//fonts.googleapis.com/css?family=Oswald";
.button-error {
    background: rgb(202, 60, 60) none repeat scroll 0 0;
}
.button-xlarge {
    font-size: 125%;
}
body {
    background: #e9eaed none repeat scroll 0 0;
    font-family: 'Montserrat',sans-serif ;
}
#email,#dob
{       display: none;
    width: 600px;
    margin-top: -10px;
    margin-left: 10px

}

#dob_upd{
    margin-top: 20px;
}

a
{
    font-family: 'Montserrat',sans-serif !important;
}

#close
{
    display: none;
}

#form_email,#form_dob
{
    display: none;
}
.edit
{
    cursor: pointer;
    color : #999;
    margin-left: 870px;
    top: 30px;
position: relative;
display: block;
}
.save-changes {
    background-color: #252a3a;
    color: white;
    margin-left: 730px;
    margin-top: -84px;
    display: none;
    font-size: 90%;}
.profile_pic {
    background: transparent none repeat scroll 0 0;
    height: 300px;
    margin-left: -100px;
    position: relative;
    top: 70px;
    width: 300px;
    z-index: 3;
}
#num {
    color: white;
    margin-left: 22px;
    margin-top: -30px;
}
.edit_image {
    border-radius: 3px;
    display: none;
    margin-left: 478px;
    margin-top: 3px;
    position: absolute;
    z-index: 9999;
}
.button-secondary {
    background: rgb(36, 39, 51) none repeat scroll 0 0;
}
.author-header {
    background: rgb(36, 39, 51) none repeat scroll 0 0;
    color: #fff;
    margin-left: -500px;
    padding: 0.5em 0;
    position: relative;
}
#author-name {
    color: white;
    font-size: 3em;
    margin-left: 500px;
    margin-top: 100px;
    position: absolute;
}
#post-count {
    color: grey;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    height: 2.66667em;
    line-height: 2.66667em;
    margin-left: 800px;
    margin-top: -180px;
    position: absolute;
}
#icon {
        color: white;
    cursor: pointer;
    height: 0;
    margin-left: -470px;
    top: 20px;
    position: absolute;
    z-index: 9999;
}
.img_opacity {
    display: none;
}
.img_show {
}
#delete_img {
    border-radius: 3px;
    color: white;
    display: none;
    margin-left: -395px;
    margin-top: 40px;
    position: absolute;
    width: 309px;
    z-index: 9999;
}
.panel-heading {
    border-bottom: 1px solid #eee;
    margin-top: -60px;
    padding: 0.5em 0;
}
.updated_user_image {
    border: 4px outset #252a3a;
    height: 300px;
    margin-bottom: -160px;
    margin-left: 207px;
    width: 300px;
    z-index: 3;
}
.update_details {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: rgba(14, 102, 204, 0.65) #d3d6db #d3d6db;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 3px 2px 2px;
    color: black;
    font-size: 110%;
    height: 250px;
    margin-bottom: 31px;
    margin-left: -432px;
    margin-top: 630px;
    overflow: hidden;
    padding: 65px;
    position: absolute;
    width:610px;
}
.profile_details {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #FFF none repeat scroll 0px 0px;
border-color: rgba(14, 102, 204, 0.65) #D3D6DB #D3D6DB;
border-image: none;
border-radius: 1px;
border-style: solid;
border-width: 3px 2px 2px;
color: #000;
font-size: 140%;
margin-bottom: 31px;
margin-left: -255px;
margin-top: 100px;
overflow-x: hidden;
padding: 1.5em 50px;
position: relative;
width: 900px;
margin-bottom: 100px;
}
.profile_pic:hover .update_yourpic {
    display: block;
}
.profile_pic:active #delete_img {
    display: block;
}
#update_default {
    margin-left: 207px;
    margin-top: 0;
    top: 260px;
    width: 300px;
}
.default_profile_details {
    font-size: 170%;
    margin-left: -133px;
    overflow-x: hidden;
    position: absolute;
    top: 450px;
    width: 300px;
}
.update_yourpic {
    background: #000000 none repeat scroll 0 0;
    color: white;
    display: none;
    font-size: 140%;
    height: 38px;
    margin-left: 210px;
    margin-top: 260px;
    opacity: 0.8;
    padding: 0.28em 0.31em 0.1em 0;
    position: absolute;
    text-align: center;
    width: 295px;
    z-index: 9999;
}
.user_update_yourpic {
    background: black none repeat scroll 0 0;
    color: white;
    display: none;
    font-size: 140%;
    height: 54px;
    margin-left: -20px;
    margin-top: 186px;
    opacity: 0.8;
    padding: 0.28em 0.31em 0.1em 0;
    position: absolute;
    text-align: center;
    width: 293px;
    z-index: 99999;
}
@media (max-width: 27em) {
body {
    overflow-x: hidden;
}

.updated_user_image {
    background-size: 200px auto;
    border: 4px outset;
    height: 200px;
    margin-bottom: -160px;
    margin-left: 225px;
    margin-top: -90px;
    overflow-x: hidden;
    width: 200px;
    z-index: 3;
}
.default_image {
    border: 4px outset black;
    margin-left: 260px !important;
    margin-top: -70px !important;
}
.update_details {
    font-size: 12px;
    margin-left: -490px;
    max-height: 256px ;
    overflow-x: hidden;
    padding-left: 17px !important;
    position: absolute;
    top: 100px;
    width: 220px;
}
.profile_details {
font-size: 1em;
height: auto;
margin-left: -480px;
overflow-x: hidden;
padding-left: 17px !important;
position: absolute;
width: 250px;
margin-top: 50px;
}
#icon {
    display: none;
}
#email,#dob,#fname,#lname,#password
{
    width:200px;
    margin-top: -24px;
margin-left: 80px;
}
.update_yourpic {
   font-size: 130%;
margin-left: 263px;
top: -170px;
width: 65%;
}
#update_default {
    display: block;
    font-size: 150%;
    margin-left: 260px;
    margin-top: -170px;
    width: 198px;
}
.author-header {
    background: #242733 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 75px;
    margin-left: -500px;
    padding: 3.5em 0 120px;
    position: relative;
}
.save-changes {
    background-color: #252a3a;
    color: white;
    font-size: 70%;
    height: 28px;
    margin-left: 180px;
    margin-top: 5px;
}
.profile_pic {
    height: 300px;
    margin-left: -207px;
    margin-top: 10px;
}
#author-name {
    float: right;
    font-size: 1.25em;
    height: 2.66667em;
    line-height: 2.66667em;
    margin-left: 3.75em;
    margin-top: 280px;
    position: absolute;
    text-align: center;
}
#delete_img {
    
       border-radius: 3px;
    color: white;
    display: none;
    margin-left: -447px;
    margin-top: 310px;
    position: absolute;
    z-index: 9999;
    width: 210px;
}

.edit
{
    cursor: pointer;
    color : #999;
    margin-left: -490px;
    top: 30px;
position: relative;
margin-left: 245px;
display: block;
}
#update_email{
    margin-top: 10px;
}
.edit_image {
    display: block;
}
}
@media (min-width: 27em) and (max-width: 55em) {
body {
    overflow-x: hidden;
}

.updated_user_image {
    background-size: 200px auto;
    border: 4px outset;
    height: 200px;
    margin-bottom: -160px;
    margin-left: 265px;
    margin-top: -90px;
    overflow-x: hidden;
    width: 200px;
    z-index: 3;
}
.default_image {
    border: 4px outset black;
    margin-left: 340px !important;
    margin-top: -70px !important;
}

.profile_details {
font-size: 1em;
height: 280px;
margin-left: -498px;
overflow-x: hidden;
padding-left: 17px !important;
position: relative;
width: 430px;
margin-top: -50px;
margin-bottom: 40px;
}
#icon {
    display: none;
}
#email,#dob
{
    width:400px;
    margin-top: -35px;
margin-left: 65px;
}
.update_yourpic {
   font-size: 130%;
margin-left: 343px;
top: -170px;
width: 65%;
}
#update_default {
    display: block;
    font-size: 150%;
    margin-left: 260px;
    margin-top: -170px;
    width: 198px;
}
.author-header {
    background: #242733 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 75px;
    margin-left: -500px;
    padding: 3.5em 0 120px;
    position: relative;
}
.save-changes {
    background-color: #252a3a;
    color: white;
    font-size: 70%;
    height: 28px;
    margin-left: 375px;
    margin-top: 5px;
}
.profile_pic {
    height: 300px;
    margin-left: -207px;
    margin-top: 10px;
}
#author-name {
    float: right;
    font-size: 1.25em;
    height: 2.66667em;
    line-height: 2.66667em;
    margin-left: 8.75em;
    margin-top: 280px;
    position: absolute;
    text-align: center;
}
#delete_img {
    
       border-radius: 3px;
    color: white;
    display: none;
    margin-left: -365px;
    margin-top: 310px;
    position: absolute;
    z-index: 9999;
    width: 210px;
}

.edit
{
    cursor: pointer;
    color : #999;
 
    top: 30px;
position: relative;
margin-left: 420px;
display: block;
}
#update_email{
    margin-top: 10px;
}
.edit_image {
    display: block;
}

@media(min-width: 50em) and (max-width: 60em){

body {
    overflow-x: hidden;
}

.updated_user_image {
    background-size: 200px auto;
    border: 4px outset;
    height: 200px;
    margin-bottom: -160px;
    margin-left: 265px;
    margin-top: -90px;
    overflow-x: hidden;
    width: 200px;
    z-index: 3;
}
.default_image {
    border: 4px outset black;
    margin-left: 450px !important;
    margin-top: -70px !important;
}

.profile_details {
font-size: 1.5em;
height: 380px;
margin-left: -498px;
overflow-x: hidden;
padding-left: 17px !important;
position: relative;
width: 660px;
margin-top: -50px;
margin-bottom: 40px;
}
#icon {
    display: none;
}
#email,#dob
{
    width:400px;
    margin-top: 5px;
margin-left: 5px;
}
.update_yourpic {
   font-size: 130%;
margin-left: 453px;
top: -170px;
width: 65%;
}
#update_default {
    display: block;
    font-size: 150%;
    margin-left: 455px;
    margin-top: -170px;
    width: 198px;
}
.author-header {
    background: #242733 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 75px;
    margin-left: -500px;
    padding: 3.5em 0 120px;
    position: relative;
}
.save-changes {
    background-color: #252a3a;
    color: white;
    font-size: 100%;
    height: 50px;
    margin-left: 515px;
    margin-top: -85px;
}
.profile_pic {
    height: 300px;
    margin-left: -207px;
    margin-top: 10px;
}
#author-name {
    float: right;
    font-size: 2.0em;
    height: 2.66667em;
    line-height: 2.66667em;
    margin-left: 10.75em;
    margin-top: 280px;
    position: absolute;
    text-align: center;
}
#delete_img {
    
       border-radius: 3px;
    color: white;
    display: none;
    margin-left: -365px;
    margin-top: 310px;
    position: absolute;
    z-index: 9999;
    width: 210px;
}

.edit
{
    cursor: pointer;
    color : #999;
 
    top: 30px;
position: relative;
margin-left: 620px;
display: block;
}
#update_email{
    margin-top: -78px;
}
.edit_image {
    display: block;
}

    
}
